.detail-part {
  margin-bottom: 10px;
}

.image-part {
  background-color: #fff;
}

.image-part .user-img img {
  width: 50%;
  margin-top: 30px;
}

.user-name h2 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.user-name p {
  font-size: 20px;
}

.user-detail p {
  font-weight: bold;
  padding-left: 30px;
  margin: 5px;
  color: #54c4bb;
}

.icon-section {
  margin: 5px 0px;
  padding-bottom: 10px;
}

.icon-section i {
  margin: 0px 5px;
  background-color: #d2d2d2;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding-top: 4px;
}

.user-detail span {
  color: #6d6868;
  font-weight: normal;
}

.tab-head {
  padding: 10px;
}

.tab-content {
  padding-bottom: 10px;
}

.about-detail h5 {
  margin-top: 10px;
}

.about-detail .website {
  margin-top: 6px;
}

.contact-detail p {
  margin: 5px;
}
