<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12 col-lg-4 text-center detail-part">
      <div class="row image-part m-0">
        <div class="col-12 user-img">
          <div>
            <img src="assets/img/user/user-default.png" class="border rounded-circle p-1" alt="avatar">
          </div>
        </div>
        <div class="col-12 user-name">
          <h2>{{userSaved.name}}</h2>
          <p>{{userSaved.userType.name}}</p>
        </div>

        <div class="col-12 user-detail text-left p-2">
          <p>Empresa: <span>{{userSaved.company.name}}</span></p>
          <p>Nome: <span>{{userSaved.name}}</span></p>
          <p>Email: <span>{{userSaved.email}}</span></p>
          <p *ngIf="!userLoggedService.isAdmin()">Telefone: <span>{{userSaved.phone ? (userSaved.phone | mask: '(99) 99999-9999')
              : 'Não informado' }}</span></p>
          <p *ngIf="userLoggedService.isAdmin()">Telefone: <span>{{userSaved.company.phone ? (userSaved.company.phone | mask:
              '(99) 99999-9999') : 'Não informado' }}</span></p>
        </div>

      </div>
    </div>

    <div class="col-lg-8 detail-part">
      <div class="row container">
        <div class="col-lg-12 col-12 bg-white rounded-top tab-head">
          <tabset [justified]="true">

            <tab heading="Editar">
              <fieldset *ngIf="userLoggedService.isAdmin()">
                <legend>Empresa</legend>
                <form #formEditCompany="ngForm" (ngSubmit)="saveCompany(user)" novalidate>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="user.company.name" placeholder="Nome da empresa" required name="name"
                      #name="ngModel" autocomplete="company_name">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">P</label>
                    </div>
                    <select name="process" class="form-control" required #process="ngModel" [(ngModel)]="user.company.companyProcess.id">
                      <option [ngValue]="undefined" selected disabled>Principal processo da empresa</option>
                      <option *ngFor="let process of listCompanyProcesses; trackBy:process?.id" [value]="process.id">
                        {{process.name}}
                      </option>
                    </select>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="user.company.birthdate" name="birthdate" placeholder="Início da empresa" class="form-control"
                      bsDatepicker [bsConfig]="bsConfig" autocomplete="birthdate">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-phone"></i>
                      </span>
                    </div>
                    <input type="tel" class="form-control" [(ngModel)]="user.company.phone" placeholder="Telefone" name="phone" #phone="ngModel"
                      mask="(00) 00000-0000" autocomplete="phone">
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" placeholder="Descrição da empresa" [(ngModel)]="user.company.description" name="description"
                      #description="ngModel" rows="5"></textarea>
                  </div>

                  <button type="submit" class="btn btn-block btn-success" [disabled]="!formEditCompany.valid || isLoading">
                    Salvar
                    <i class="fa fa-lg m-l-5" [ngClass]="{'fa-spinner fa-spin': isLoading}" *ngIf="isLoading"> </i>
                  </button>
                </form>
              </fieldset>

              <fieldset *ngIf="!userLoggedService.isAdmin()">
                <legend>Usuário</legend>
                <form #formEditUser="ngForm" (ngSubmit)="saveUser(user)" novalidate>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="user.name" placeholder="Nome e sobrenome" required name="name" #name="ngModel"
                      autocomplete="user_name">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text">P</label>
                    </div>
                    <select name="process" class="form-control" required #process="ngModel" [(ngModel)]="user.userType.id">
                      <option [ngValue]="undefined" selected disabled>Selecione seu papel</option>
                      <option *ngFor="let type of listUserTypes; trackBy:type?.id" [value]="type.id">{{type.name}}</option>
                    </select>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="user.birthdate" name="birthdate" placeholder="Data de nascimento" class="form-control" bsDatepicker
                      [bsConfig]="bsConfig" autocomplete="birthdate">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-phone"></i>
                      </span>
                    </div>
                    <input type="tel" class="form-control" [(ngModel)]="user.phone" placeholder="Telefone" name="phone" #phone="ngModel" mask="(99) 99999-9999"
                      autocomplete="phone">
                  </div>

                  <div class="form-group row text-center">
                    <div class="col-md-12 col-form-label">
                      <div class="form-check form-check-inline mr-3" id="inline-radios">
                        <input class="form-check-input" type="radio" name="inline-radios"
                        id="inlineRadio1" value="MALE" [(ngModel)]="user.sex">

                        <label class="form-check-label" for="inlineRadio1">Masculino</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" type="radio" name="inline-radios"
                        id="inlineRadio2" value="FEMALE" [(ngModel)]="user.sex">

                        <label class="form-check-label" for="inlineRadio2">Feminino</label>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-block btn-success" [disabled]="!formEditUser.valid || isLoading">
                    Salvar
                    <i class="fa fa-lg m-l-5" [ngClass]="{'fa-spinner fa-spin': isLoading}" *ngIf="isLoading"> </i>
                  </button>
                </form>
              </fieldset>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<ng2-toasty></ng2-toasty>
