<div class="card diagnosis-filter"
      [ngStyle]="{'width': isViewLoaded ? parentContainer.offsetWidth-30 + 'px' : inherit}">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Filtro
  </div>
  <div class="card-body">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">P</label>
      </div>
      <select name="process" class="form-control" [(ngModel)]="filter.role">
        <option [ngValue]="undefined" selected disabled>Papel</option>
        <option *ngFor="let type of listUserTypes; trackBy:type?.id" [value]="type.id">
          {{type.name}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-calendar"></i>
        </span>
      </div>
      <input type="text" [(ngModel)]="filter.period" name="periodo"
            placeholder="Período" class="form-control" placement="right"
            bsDaterangepicker [bsConfig]="bsConfig" autocomplete="period">
    </div>

    <button class="btn btn-success btn-block" (click)="send()">Filtrar</button>
  </div>
</div>
