<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/icon-sm.png', width: 30, height: 25, alt: 'Diagnostico Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/icon-sm.png', width: 30, height: 30, alt: 'Diagnostico Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Usuários</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/convites">Convites</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/user/user-default.png" class="img-avatar" alt="Imagem do usuário"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Sua conta</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
        <div class="dropdown-header text-center"><strong>Sistema</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Configurações</a>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Sair</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span><a href="https://www.linkedin.com/in/joao-slgd/" target="_blank">João Salgado</a> &copy; 2018.</span>
  <span class="ml-auto">Criado por <a href="https://github.com/joao-salgado" target="_blank">João Gabriel Salgado</a></span>
</app-footer>
