<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary cursor-pointer" [routerLink]="['bw']">
        <div class="card-body">
          <div class="h5 m-0">Diagnóstico de Gestão de Conhecimento</div>
          <div>Por Bukowitz & Williams</div>
          <p class="text-muted m-0">Clique para acessar</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-dark cursor-pointer" [routerLink]="['dgcc']">
        <div class="card-body">
          <div class="h5 m-0">Diagnóstico de Gestão de Conhecimento - Claudia</div>
          <!-- <div>Por Claudia</div> -->
          <p class="text-muted m-0">Em breve</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-dark cursor-pointer" [routerLink]="['kmd']">
        <div class="card-body">
          <div class="h5 m-0">Asian Productivity Organization</div>
          <!-- <div>Por Lorem...</div> -->
          <p class="text-muted m-0">Em breve</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-dark cursor-pointer" [routerLink]="['apo']">
        <div class="card-body">
          <div class="h5 m-0">Knowledge Management Diagnostic</div>
          <!-- <div>Por Lorem...</div> -->
          <p class="text-muted m-0">Em breve</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-dark cursor-pointer" [routerLink]="['oka']">
        <div class="card-body">
          <div class="h5 m-0">Organizational Knowledge Assessment</div>
          <!-- <div>Por Lorem...</div> -->
          <p class="text-muted m-0">Em breve</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-dark cursor-pointer" [routerLink]="['sdkm']">
        <div class="card-body">
          <div class="h5 m-0">Seven Dimensions of Knowledge Management</div>
          <!-- <div>Por Lorem...</div> -->
          <p class="text-muted m-0">Em breve</p>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
