<app-diagnosis-landing-page [dlpConfig]="landingData" (btnListener)="onBtnClick($event)" *ngIf="!doQuestionnaire()" [@doDiagnosis]="'actice'">
</app-diagnosis-landing-page>

<div *ngIf="doQuestionnaire() && !loadingQuestions" [@doDiagnosis]="'inactive'">

  <div class="row">
    <div class="col-12">
      <alert type="danger" *ngIf="hasErrorInDiagnosis()">
          <strong>Ops!</strong> Alguma questão não foi respondida!
        </alert>

        <alert type="success" *ngIf="isDiagnosisCompleted()">
          <strong>Parabéns!</strong>
          Todas as questões foram respondidas! Você já pode finalizar o diagnóstico. Selecione a aba "Finalizar diagnóstico".
        </alert>
    </div>
  </div>

  <div class="row">
    <tabset [vertical]="true" type="pills">
      <tab *ngFor="let section of questions; let parentIndex=index" (deselect)="onChangeTab(section)">
        <ng-template tabHeading>
          <span [ngClass]="section.situation === 'error' ? 'text-danger' : section.situation === 'success' ? 'text-success' : ''">
          <i class="mr-2">{{parentIndex+1}}</i>{{section.title}}
          </span>
        </ng-template>

        <div class="card text-white bg-info text-center">
          <div class="card-body">
            {{section.description}}
          </div>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Afirmação</th>
              <th class="text-center">Fraco</th>
              <th class="text-center">Moderado</th>
              <th class="text-center">Forte</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let question of section.questions; let childIndex=index">

              <td>{{question}}</td>
              <td class="td__diagnosis">
                <label>
                  <input type="radio" [name]="parentIndex + 'radio' + childIndex" [value]="1"
                          [(ngModel)]="answers[section.model][childIndex]">
                </label>
              </td>
              <td class="td__diagnosis">
                <label>
                  <input type="radio" [name]="parentIndex + 'radio' + childIndex" [value]="2"
                        [(ngModel)]="answers[section.model][childIndex]">
                </label>
              </td>
              <td class="td__diagnosis">
                <label>
                  <input type="radio" [name]="parentIndex + 'radio' + childIndex" [value]="3"
                        [(ngModel)]="answers[section.model][childIndex]">
                </label>
              </td>

            </tr>
          </tbody>
        </table>

      </tab>

      <tab (select)="onFinalizeTab($event)" *ngIf="true">
        <ng-template tabHeading><i class="mr-2 icon-calculator"></i>Finalizar diagnóstico</ng-template>

        <h3 class="text-center">Aqui você pode visualizar o andamento de seu diagnóstico, cada seção possui uma pontuação.</h3>

        <app-diagnosis-basic-result [data]="objectDiagnosis"></app-diagnosis-basic-result>

        <button class="btn btn-block btn-lg btn-success" (click)="finishDiagnosis()"
              [disabled]="!isDiagnosisCompleted() || loadingFinish">
          Finalizar diagnóstico
          <i class="fa fa-spinner fa-lg" *ngIf="loadingFinish"></i>
        </button>

      </tab>
    </tabset>
  </div>
</div>

<ng2-toasty></ng2-toasty>
