section {
  background-size: 100% 100%;
  color: #e1e1e1;
  margin: -30px -30px 0 -30px;
}

.service-main {
  background-color: #63c2de;
}

.service-heading h2 {
  display: inline-block;
}

.service-box-icon i {
  height: 70px;
  width: 70px;
  padding: 19px 0px;
  font-size: 30px;
  border: 2px solid #fff;
  color: #2f353a;
  box-shadow: 0px 0px 3px 3px #2f353a;
}

.text-black {
  color: #2f353a;
}

.f-15 {
  font-size: 15px;
}
