// Here you can add other styles

// WIDGETS

.brand-card-header {
  span {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
  }

}

.service-main {
  background-color: #63c2de;
}

.cursor-pointer {
  cursor: pointer;
}
