// Here you can add other styles

// WIDGETS

.brand-card-header {
  span {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
  }

}

.service-main {
  background-color: #6563de;
}

.cursor-pointer {
  cursor: pointer;
}

td {
  vertical-align: middle;
}

.switch-success .switch-input:not(checked) + .switch-slider {
  background-color: #ea6060;
  border-color: #ea6060;
}
